.download#download
  .download__inner
    h3.heading.heading--download.
      Make &amp; share payments
      with community
    p.download__heading-desc.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet.
    .download-links
      a(
        href='#' 
        class='download-link download-link--apple'
        )
        |Free download
        br
        |App Store
      a(
        href='#' 
        class='download-link download-link--google'
      )
        |Free download
        br
        |Google Play
