.subscribe
  .subscribe__inner
    span.subscribe-heading Receive notification now
    p.subscribe-desc.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Lorem ipsum dolor.
    form.subscribe-form
      input(
        type='text' 
        name='email'
        placeholder='Your email address...'
      )
      button(type='submit' class='btn btn--subscribe') I'am ready!
