//- https://www.behance.net/gallery/53795955/Cook-Landing-Page-Project-Free-PSD 
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Cook Landing Page project by kinstyantin
    link(rel='stylesheet' href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700')
    link(rel='stylesheet' href='index.css')
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
  body
    include 01-header.pug
    include 02-howto.pug
    include 03-download.pug    
    include 04-workflow.pug
    include 05-subscribe.pug
    include 06-testimonials.pug
    include 07-info.pug
    include 08-contact.pug
    include 09-footer.pug
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
    script(src='index.js')
