inner-size()
  max-width 1170px
  margin 0 auto
  @media(max-width 1169px)
    padding-left 15px
    padding-right 15px

inner-padding()
  padding-top 100px
  padding-bottom 100px

// background images for section howto

howto-icons(name)
  .howto-list__item--{name}
    background-image url('img/howto-ico-' + name + '.png')
    background-repeat no-repeat
    background-position 50% 0
