.header
  background-image url('img/header-bg.png')
  background-repeat no-repeat
  background-position 50%
  color #fff

.header__inner
  inner-size()

.header-nav
  padding 50px 0
  background-image url('img/header-logo.png')
  background-repeat no-repeat
  background-position 0 30%
  display flex
  justify-content flex-end

.header-nav__link
  margin-left 60px
  font-size 18px
  font-family 'Droid Sans', sans-serif
  color #fff
  text-decoration none
  &:hover
    text-decoration underline

// header-content

.header-content
  padding 200px 0
  background-image url('img/header-phone.png')
  background-repeat no-repeat
  background-position 100% 50%

.header-heading
  width 60%
  margin-bottom 45px
  font-size 38px

.header-desc
  width 60%
  margin-bottom 90px
  font-size 20px
  line-height 36px

.link-btn
  display block
  width 245px
  padding 25px 55px
  border 2px solid white
  border-radius 5px
  color #fff
  text-align center
  text-decoration none
  text-transform uppercase
