.subscribe
  background-image linear-gradient(135deg, #fc5a59 0%,#ff9626 100%)
.subscribe__inner
  inner-size()
  padding 150px 0
  text-align center
  color #fff

.subscribe-heading
  display block
  margin-bottom 30px
  font-size 30px
  line-height 1
  text-transform uppercase
  letter-spacing 5px

.subscribe-desc
  line-height 36px
  width 60%
  margin 0 auto
  margin-bottom 100px

.subscribe-form
  display flex
  justify-content center

.subscribe-form input
  width 60% 
  margin-right 30px
  padding 25px 30px
  background-color transparent
  font-family 'Droid Sans', sans-serif
  font-size 16px
  color #fff
  border 2px solid #fff
  border-radius 5px
  outline none

.subscribe-form input::placeholder
  color #fff

.subscribe-form button
  padding 0 45px
  border none
  border-radius 5px
  outline none
  background-color #fff
  font-family 'Droid Sans', sans-serif
  font-size 18px
  line-height 1
  letter-spacing 2px
  color #fc5a59
  text-transform uppercase
  cursor pointer
