.testimonials__inner
  inner-size()
  padding 100px 0

.heading--testimonials
  margin-bottom 70px
  text-align center

div.stories-story
  display flex !important
  flex-direction column
  justify-content center
  align-items center
  // margin 0 60px

.stories-story__img
  width 180px
  height 180px
  margin-bottom 50px
  border-radius 50%
  background-color red
  outline none
  boder 0

.stories-story__client-name
  margin-bottom 30px
  font-size 24px
  color #00baff

.stories-story__comment
  width 48.24561403508772%
  line-height 30px


// slick slider

button.slick-next, button.slick-prev
  width 42px
  height 37px
  background-color transparent
  font-size 0
  border none
  outline none
  background-repeat no-repeat
  background-position 50%
  cursor pointer

button.slick-prev
  position absolute
  top 50%
  z-index 3
  background-image url('img/slider-ico-prev.png')

button.slick-next
  position absolute
  right 0
  top 50%
  z-index 3
  background-image url('img/slider-ico-next.png')
