.footer
  border-top 2px solid #d8d8d8

.footer__inner
  inner-size()
  padding 40px 0
  display flex
  justify-content space-between

.footer__copyright
  font-size 16px
  color #5c5c5c
  display flex
  flex-direction column
  justify-content center


.footer-soc
  display flex
  justify-content space-betwen

.footer-soc__link
  width 30px
  height 30px
  font-size 0
  margin-left 40px
  color #5c5c5c
  text-decoration none
  &:first-of-type
    margin-left 0

span[class|=icon]
  font-size 30px
  display block
